<%- include("partials/header");  %>

    <h1>Compose New Article Here!</h1>
    <form action="/compose" method="POST">
        <label for="postTitle">Title</label>
        <div class="form-group">
            
            <textarea name="postTitle" id="postTitle" cols="150" rows="1"></textarea>
        </div>

        <label for="Composition">Post</label>
        <div class="form-group">
            <textarea name="postBody" id="postBody" cols="150" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Publish</button>
      </form>

<%- include("partials/footer");  %>